<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="Registro de Datos "></h:outputLabel>
            <table>
                <tr>
                    <td><h:outputLabel value="Nombre: "></h:outputLabel></td>
                    <td><h:inputText value="#{persona.nombre}"></h:inputText></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="Apellido: "></h:outputLabel></td>
                    <td><h:inputText value="#{persona.apellido}"></h:inputText></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="Edad: "></h:outputLabel></td>
                    <td><h:inputText value="#{persona.edad}"></h:inputText></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="Sexo: "></h:outputLabel></td>
                    <td>
                        <h:selectOneMenu value="#{persona.sexo}">
                            <f:selectItem itemValue="M" itemLabel="Masculino"></f:selectItem>
                            <f:selectItem itemValue="F" itemLabel="Femenino"></f:selectItem>
                        </h:selectOneMenu>
                    </td>
                </tr>
            </table>
            <h:commandButton value="Procesar" actionListener="#{indexBean.procesar()}"/>
            <c:forEach items="#{indexBean.errores}" var="error">
                <br/><h:outputLabel value="#{error}"/>                
            </c:forEach>
        </h:form>


    </h:body>
</html>

