<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="#{msjs['lbl.form.registre.datos']}"></h:outputLabel>
            <table>
                <tr>
                    <td>
                        <h:outputLabel value="#{msjs['lbl.form.ISBN']}"></h:outputLabel></td>
                    <td><h:inputText value="#{loginBean.isbn}"                                  
                                     >
                            <f:validator validatorId="textValidator"></f:validator>
                        </h:inputText></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['lbl.form.author']}"></h:outputLabel></td>
                    <td><h:inputText value="#{loginBean.autor}">
                            <f:validator validatorId="textValidator"></f:validator>
                        </h:inputText></td>
                </tr>        
                <tr>
                    <td><h:outputLabel value="#{msjs['lbl.form.language']}"></h:outputLabel></td>
                    <td><h:inputText value="#{loginBean.idioma}">
                            <f:validator validatorId="textValidator"></f:validator>
                        </h:inputText></td>
                </tr> 
                <tr>
                    <td><h:outputLabel value="#{msjs['lbl.form.year']}"></h:outputLabel></td>
                    <td><h:inputText value="#{loginBean.anio}"></h:inputText></td>
                </tr> 
                <tr>
                    <td><h:outputLabel value="#{msjs['lbl.form.country']}"></h:outputLabel></td>
                    <td><h:inputText value="#{loginBean.pais}">
                            <f:validator validatorId="textValidator"></f:validator>
                        </h:inputText></td>
                </tr> 
            </table> 
            <h:commandButton value="#{msjs['lbl.form.save']}" action="#{loginBean.guardar}"></h:commandButton>
        </h:form>
    </h:body>
</html>

