<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="WEB-INF/templates/layout.xhtml">
    <ui:param name="title" value="Showcase"/>
    <ui:define name="content">
        
        Inicio Showcase
        
    </ui:define>
    <ui:define name="xhtml">
        
        Inicio XHTML
        
    </ui:define>
    <ui:define name="java">
        
        Inicio JAVA
        
    </ui:define>
</ui:composition>

