<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
         <h:outputLabel value="#{msjs['lbl.autenticacion']}"></h:outputLabel>
         <h:form>
         <table>
             <tr>
                 <td>
                     <h:outputLabel value="#{msjs['lbl.submit.login']}" ></h:outputLabel></td>
                 <td><h:inputText 
                        id="itxEmail" 
                        value="#{loginBean.email}"
                        required="true"
                        requiredMessage="Ingrese un usuario o email"                                  
                        >
                      <f:validator validatorId="emailValidator"></f:validator>
                     </h:inputText>
                     <h:message for="itxEmail"></h:message>
                 </td>
             </tr>
             <tr>
                 <td><h:outputLabel value="#{msjs['lbl.password.login']}" ></h:outputLabel></td>
                 <td><h:inputText id="iTxtPass" value="#{loginBean.password}"
                                  required="true"
                                  requiredMessage="Ingrese su contraseña"    
                      ></h:inputText>
                  <h:message for="iTxtPass"></h:message></td>
             </tr>    
               
             </table>
             <h:commandButton value="#{msjs['lbl.submit.login']}"    action="#{loginBean.ingresar}"></h:commandButton>
             <h:commandButton value="#{msjs['lbl.change.language']}" action="#{loginBean.cambiarIdioma}"></h:commandButton>
              </h:form>
    </h:body>
</html>

